*.pyc
.ipynb_checkpoints
*/.ipynb_checkpoints/*

.idea/

experiments/local_experiments/examples/averagingAtTheEnd/Old/

experiments/local_experiments/examples/averagingAtTheEnd/Results/

data/HIGGS/HIGGS.csv

data/SUSY/SUSY.csv

experiments/local_experiments/examples/periodicAveraging/Results/

data/

experiments/local_experiments/RFF_experiments/Results/

experiments/local_experiments/RFF_experiments/HEPMASS_experiments/Results/

experiments/local_experiments/RFF_experiments/HIGGS_experiments/Results/

experiments/local_experiments/RFF_experiments/SYNTHETIC_experiments/Results/

experiments/local_experiments/RFF_experiments/SYNTHETIC2_experiments/Results/

experiments/local_experiments/RFF_experiments/SYNTHETIC3_experiments/Results/

experiments/local_experiments/RFF_experiments/SYNTHETIC5_experiments/Results/

experiments/local_experiments/RFF_experiments/SYNTHESIZE_TUNE/Results/

experiments/local_experiments/RFF_experiments/SYNTHESIZE_TUNE/split/

*.csv

experiments/local_experiments/RFF_experiments/SYNTHESIZE_TUNE/fig1.png

experiments/local_experiments/RFF_experiments/SYNTHESIZE_TUNE/fig2.png

experiments/local_experiments/RFF_experiments/SYNTHESIZE_TUNE/figX1.png

experiments/local_experiments/RFF_experiments/SYNTHESIZE_TUNE/hist1.png

experiments/local_experiments/RFF_experiments/SYNTHESIZE_TUNE/hist2.png
