*.pyc
.ipynb_checkpoints
*/.ipynb_checkpoints/*

.idea/

experiments/local_experiments/examples/averagingAtTheEnd/Old/

experiments/local_experiments/examples/averagingAtTheEnd/Results/

data/HIGGS/HIGGS.csv

data/SUSY/SUSY.csv
