*.pyc
.ipynb_checkpoints
*/.ipynb_checkpoints/*

experiments/local_experiments/examples/periodicAveraging/MNISTtorchCNN_2020-07-05_17-23-43/

experiments/local_experiments/examples/periodicAveraging/MNISTtorchCNN_2020-07-05_17-24-41/

experiments/local_experiments/examples/periodicAveraging/MNISTtorchCNN_2020-07-08_11-26-25/

.idea/

experiments/local_experiments/examples/periodicAveraging/MNISTtorchCNN_2020-07-26_12-13-26/

experiments/local_experiments/examples/periodicAveraging/MNISTtorchCNN_2020-07-26_14-11-29/

experiments/local_experiments/examples/periodicAveraging/MNISTtorchCNN_2020-07-26_14-52-07/

experiments/local_experiments/examples/averagingAtTheEnd/RadonMachine_test_2020-07-27_21-30-02/

experiments/local_experiments/examples/averagingAtTheEnd/RadonMachine_test_2020-07-27_21-35-14/

experiments/local_experiments/examples/averagingAtTheEnd/RadonMachine_test_2020-07-27_21-43-08/

experiments/local_experiments/examples/averagingAtTheEnd/RadonMachine_test_2020-07-27_22-50-52/

experiments/local_experiments/examples/averagingAtTheEnd/RadonMachine_test_2020-08-10_10-08-20/

experiments/local_experiments/examples/averagingAtTheEnd/RadonMachine_test_2020-08-10_10-26-26/

experiments/local_experiments/examples/averagingAtTheEnd/RadonMachine_test_2020-08-10_10-31-08/

experiments/local_experiments/examples/averagingAtTheEnd/RadonMachine_test_2020-08-10_10-30-46/

experiments/local_experiments/examples/averagingAtTheEnd/RadonMachine_test_2020-08-10_10-31-28/

experiments/local_experiments/examples/averagingAtTheEnd/RadonMachine_test_2020-08-10_10-31-48/

experiments/local_experiments/examples/averagingAtTheEnd/RadonMachine_test_2020-08-10_10-32-08/

experiments/local_experiments/examples/averagingAtTheEnd/RadonMachine_test_2020-08-10_10-32-25/

experiments/local_experiments/examples/averagingAtTheEnd/RadonMachine_test_2020-08-10_19-29-09/

experiments/local_experiments/examples/averagingAtTheEnd/RadonMachine_test_2020-08-10_19-29-28/

experiments/local_experiments/examples/averagingAtTheEnd/RadonMachine_test_2020-08-10_19-34-08/

experiments/local_experiments/examples/averagingAtTheEnd/RadonMachine_test_2020-08-10_19-32-36/

experiments/local_experiments/examples/averagingAtTheEnd/RadonMachine_test_2020-08-10_19-36-27/

experiments/local_experiments/examples/averagingAtTheEnd/RadonMachine_test_2020-08-10_20-25-55/

experiments/local_experiments/examples/averagingAtTheEnd/RadonMachine_test_2020-08-10_21-21-23/

experiments/local_experiments/examples/averagingAtTheEnd/RadonMachine_test_2020-08-10_19-33-32/

experiments/local_experiments/examples/averagingAtTheEnd/RadonMachine_test_2020-08-10_19-44-04/

experiments/local_experiments/examples/averagingAtTheEnd/RadonMachine_test_2020-08-10_21-17-40/

experiments/local_experiments/examples/averagingAtTheEnd/RadonMachine_test_2020-08-10_21-26-18/

experiments/local_experiments/examples/averagingAtTheEnd/RadonMachine_test_2020-08-10_21-27-01/

experiments/local_experiments/examples/averagingAtTheEnd/RadonMachine_test_2020-08-10_21-28-15/

experiments/local_experiments/examples/averagingAtTheEnd/RadonMachine_test_2020-08-10_21-28-50/

experiments/local_experiments/examples/averagingAtTheEnd/RadonMachine_test_2020-08-10_21-30-12/

experiments/local_experiments/examples/averagingAtTheEnd/RadonMachine_test_2020-08-11_00-37-10/

experiments/local_experiments/examples/averagingAtTheEnd/RadonMachine_test_2020-08-11_00-34-52/

experiments/local_experiments/examples/averagingAtTheEnd/Untitled.ipynb

experiments/local_experiments/examples/averagingAtTheEnd/performance.png

experiments/local_experiments/examples/averagingAtTheEnd/RadonMachine_test_2020-08-11_21-43-40/

experiments/local_experiments/examples/averagingAtTheEnd/RadonMachine_test_2020-08-11_11-27-59/

experiments/local_experiments/examples/averagingAtTheEnd/RadonMachine_test_2020-08-11_11-29-06/

experiments/local_experiments/examples/averagingAtTheEnd/RadonMachine_test_2020-08-11_19-26-29/

experiments/local_experiments/examples/averagingAtTheEnd/RadonMachine_test_2020-08-11_21-46-35/

experiments/local_experiments/examples/averagingAtTheEnd/RadonMachine_test_2020-08-11_21-46-58/

experiments/local_experiments/examples/averagingAtTheEnd/RadonMachine_test_2020-08-11_22-14-14/

experiments/local_experiments/examples/averagingAtTheEnd/RadonMachine_test_2020-08-11_22-15-24/

experiments/local_experiments/examples/averagingAtTheEnd/RadonMachine_test_2020-08-11_22-18-43/

experiments/local_experiments/examples/averagingAtTheEnd/RadonMachine_test_2020-08-11_22-32-05/

experiments/local_experiments/examples/averagingAtTheEnd/RadonMachine_test_2020-08-11_23-39-48/

experiments/local_experiments/examples/averagingAtTheEnd/RadonMachine_test_2020-08-12_00-18-44/

experiments/local_experiments/examples/averagingAtTheEnd/Old/
